{{setPageTitle "RSVP"}}
{{setActiveNav "rsvp"}}
{{addCSS "/css/rsvp.css"}}

<div class="l-contain">
    <h1>OSA</h1>

    <p>
        OSA gör ni genom att skicka ett mail till <a href="mailto:johanblirenuddstahl@gmail.com?subject=Bröllop"><b>johanblirenuddstahl@gmail.com</b></a>. Skriv gärna med hur många ni kommer totalt och om ni tänker komma på brunch dagen efter bröllopet. 
    </p>
</div>
