{{setPageTitle "Bra att veta"}}
{{setActiveNav "goodtoknow"}}

<div class="l-contain">

    <h1>Bra att veta</h1>

    <p>
        Här samlar vi saker som kan vara bra att veta. Här kommer vi kontinuerligt uppdatera med mer information ju närmare bröllopsdagen vi kommer. 
    </p>

    <h2>Toastpar</h2>
    <p>
        Under bröllopsmiddagen är det <a href="https://www.facebook.com/anna.turunen.52" target="_blank"><strong>Anna Turunen</strong></a> och <a href="https://www.facebook.com/henrik.rundqvist.1" target="_blank"><strong>Henrik Rundqvist</strong></a> som kommer att hålla ordning på oss. Det är alltså till dessa personer som man anmäler tal och ställer alla frågor vad gäller bröllopet. 
    </p>
    <p><strong>För frågor och funderingar, ring:</strong><br />
    Anna: <a href="tel:0702752586">0702 - 75 25 86</a> eller Henrik: <a href="tel:0708770818">0708 - 77 08 18</a>. 

</div>
