{{setPageTitle "Bra att veta"}}
{{setActiveNav "goodtoknow"}}

<div class="l-contain">

    <h1>Bra att veta</h1>

    <p>
        Här samlar vi saker som kan vara bra att veta. Här kommer vi kontinuerligt uppdatera med mer information ju närmare bröllopsdagen vi kommer.
    </p>
    <h2>Bröllopsgåva</h2>
    <p>Vill man ha med sig en gåva så önskar vi oss både lite saker, men även bidrag till bröllopsresa. Bara att välja och vraka i önskelistan som ni hittar <a href="http://bit.ly/2aSwB78" target="_blank"><strong>här</strong> (http://bit.ly/2aSwB78)</a> alltså. Om ni köper något, glöm inte att kryssa för under kolumnen "Köpt" så slipper ni köpa samma som någon annan.</p>
    <h2>Toastpar</h2>
    <p>
        Under bröllopsmiddagen är det <a href="https://www.facebook.com/anna.turunen.52" target="_blank"><strong>Anna Turunen</strong></a> och <a href="https://www.facebook.com/henrik.rundqvist.1" target="_blank"><strong>Henrik Rundqvist</strong></a> som kommer att hålla ordning på oss. Det är alltså till dessa personer som man anmäler tal och ställer alla frågor vad gäller bröllopet.
    </p>
    <p><strong>För frågor och funderingar, ring:</strong><br />
    Anna: <a href="tel:0702752586">0702 - 75 25 86</a> eller Henrik: <a href="tel:0708770818">0708 - 77 08 18</a>.
    <h2>Hipstaroll</h2>
    <p><a href="http://hipstaroll.com" target="_blank"><strong>Hipstaroll</strong></a> är en app som är gjord av brudgummen himself. Det är en fotoapp där vi vill samla alla bilder ni tar med era mobiler under vår dag. Lite som ett privat instagram där alla typer av bilder är tillåtna. Obligatorisk använding alltså. Appen finns till <a href="https://itunes.apple.com/se/app/hipstaroll/id698564053?mt=8"><strong>iOS</strong></a>, <a href="https://play.google.com/store/apps/details?id=com.hipstaroll.app"><strong>Android</strong></a> och <a href="https://www.microsoft.com/sv-se/store/p/hipstaroll/9nblgggzgxc9"><strong>Windows Phone</strong></a> så ingen kommer undan.</p>
    <p>När ni laddat ned appen behöver ni en kod för att logga in. då använder ni: <strong>GBGFTW16</strong>. Då kan ni börja posta egna och se och kommentera andras bilder. Använd appen flitigt, vi vill ha alla gästers upplevelser. Eventet är redan öppet, så börja gärna posta bilder redan nu. Förberedelser, hippa, svensexa. Allt skall med!</p>

</div>
