{{setYUIModule "le-home"}}
{{setDescription "Leslie Verploegen & Eric Ferraiuolo are getting married on October 5th, 2013 in Easton, MD."}}
{{addCSS "/css/home.css"}}

<h1 class="ann">
    <span class="ann-primary">Elin Uddståhl</span>
    <span class="ann-secondary ann-sep">och</span>
    <span class="ann-primary">Johan Olsson</span>
</h1>

<ol class="timeline l-grid">
  {{#event "Giftermål"
        time   = "17 September, 2016"
        photo  = "/photos/j+e-getting-married.jpg"
        alt    = "Tacky Christmas Party 2015"
        credit = ""}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Vi gifter oss i <strong>Örgryte gamla kyrka, Göteborg</strong> och vi vill att du kommer!
    </p>

    <p class="button-wedding">
        <a class="button" data-icon="i" href="/wedding/">Mer information</a>
    </p>

    {{> event/time}}
  {{/event}}
  {{#event "Köpte förlovningsringar"
        time = "2015"
        photo  = "/photos/j+e-rings.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Några...eller ja, ganska många...år efter själva förlovningen köptes äntligen förlovningsringarna.
    </p>

    {{> event/time}}
  {{/event}}
  {{#event "Olle föds"
        time = "Juli 2011"
        photo  = "/photos/j+e-olle-born.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Familjen längtar efter ett syskon och den 14/7 2011 får Elly äntligen träffa sin lillebror. En liten Olle John Uddståhl.
    </p>

    {{> event/time}}
  {{/event}}
{{#event "Flytt till Lerum"
        time = "2010"
        photo  = "/photos/j+e-moved-to-lerum.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Efter några år i lägenheten i Strömmensberg börjar Elin och Johan leta hus. Till slut hittar de sin dröm i ett litet blått radhus i Lerum. Av alla ställen.
    </p>

    {{> event/time}}
  {{/event}}
 {{#event "Elly föds"
        time = "Juni 2008"
        photo  = "/photos/j+e-elly-born.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Den 7/6 2008 kommer parets första barn till världen, en liten Elly Astrid Uddståhl.
    </p>

    {{> event/time}}
  {{/event}}

{{#event "Flytt till Strömmensberg"
        time = "2007"
        photo  = "/photos/j+e-moved-to-strommensberg.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Johan och Elin lämnar Hisingen och köper en bostadsrätt i Strömmensberg. Här påbörjas parets första försök till renovering. 
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Förlovning"
        time = "Nyår 2006"
        photo  = "/photos/jo+eu-engaged.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Nyår 2006, mitt under Daniel och Sigrids nyårsfest, bestämmer sig Johan för att ta med Elin till det berömda vattenfallet i Norrköpings industrilandskap. Där förlovar de sig, men glömmer detaljen med ring. Felet korrigeras 9 år senare och nu sitter där äntligen en ring på Elins finger. 
    </p>

    {{> event/time}}
  {{/event}}

   

<li class="timeline-events">
        <ol class="l-grid">
        {{#event "Flyttade till Hisingen"
                who  = "bothright"
                time = "2004"
                photo = "/photos/j+e-brunnsbo.jpg"}}

            {{> event/header}}
            {{> event/photo}}

            <p>
                Återförenade i Göteborg får de tag på ett förstahandskontrakt i Brunnsbo på Hisingen.
            </p>

            {{> event/time}}
          {{/event}}
        {{#event "Norrköping -> Göteborg"
                who  = "elin"
                time = "2004"
                photo  = "/photos/jo-home-sweet-home.jpg"}}

            {{> event/header}}
            {{> event/photo}}

            <p>
                Elin slutför sina studier och flyttar ännu längre söderut, med krav på att de flyttar till egen lägenhet.
            </p>

            {{> event/time}}
          {{/event}}
        </ol>
    </li>
  <li class="timeline-events">
        <ol class="l-grid">
        {{#event "Första bilen"
                who  = "bothleft"
                time = "2004"
                photo = "/photos/j+e-car.jpg"}}

            {{> event/header}}
            {{> event/photo}}

            <p>
                Johan får ett sjukt bra pris av sin mosters man på en Peugeot 205 Junior. Köpt!
            </p>

            {{> event/time}}
          {{/event}}
        {{#event "Norrköping -> Göteborg"
                who  = "johan"
                time = "2004"
                photo  = "/photos/jo-home-sweet-home.jpg"}}

            {{> event/header}}
            {{> event/photo}}

            <p>
                Efter examen och en extra kurs i utställningar får Johan jobb på H2 Data i Göteborg och flyttar hem igen.
            </p>

            {{> event/time}}
          {{/event}}
        </ol>
    </li>

{{#event "Roskildefestivalen"
        time = "Juni 2004"
        photo = "/photos/j+e-roskilde.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        I juni 2004 drog Elin och Johan ihop en massa pluggkompisar och åkte till Roskildefestivalen, något de upprepade även året därpå. Regnigaste festivalen i mannaminne, men det spelade mindre roll. De var tillsammans. För vem kan motstå tält, lera, öl och sjukt bra musik. 
    </p>

    {{> event/time}}
  {{/event}}

  {{#event "Första resan ihop"
        time = "2003"
        photo = "/photos/j+e-first-vacation.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Första resan ihop gjordes till Korfu. 
    </p>

    {{> event/time}}
  {{/event}}
{{#event "Flyttar ihop"
        time  = "2003"
        photo = "/photos/j+e-moved-in.jpg"
        }}

    {{> event/header}}
    {{> event/photo}}
    <p>
        Efter att ha tröttnat på att hänga i Elins kollektiv och Johans minimala korridorsrum bestämmer Johan och Elin sig för att flytta ihop. De kommer dock inte långt, bara ett stenkast från Johans lägenhet. Rakt ovanpå köttbutiken.
    </p>

    {{> event/time}}
    {{/event}}
  {{#event "Träffades för första gången"
        time = "September 2002"
        photo = "/photos/before-we-met.jpg"}}

    {{> event/header}}
    {{> event/photo}}

    <p>
        Elin och Johan träffades på dansgolvet på Norrköpingsklubben Guskelov. Bilden är dock från innan de hade träffats. Elin råkade vara på den klubb som Johan drev tillsammans med några kompisar och bestämde sig för att gå förbi när Johan skulle fota klubbloggan. 
    </p>

    {{> event/time}}
  {{/event}}

    <li class="timeline-events">
        <ol class="l-grid">
        {{#event "Umeå -> Norrköping"
                who  = "elin"
                time = "September 2001"
                photo  = "/photos/eu-moved.jpg"}}

            {{> event/header}}
            {{> event/photo}}

            <p>
                Efter avklarade studier i konstvetenskap flyttade Elin till Norrköping för att börja plugga Kultur- samhäll och mediegestaltning. 
            </p>

            {{> event/time}}
          {{/event}}
          {{#event "Göteborg -> Norrköping"
                who  = "johan"
                time = "September 2000"
                photo = "/photos/jo-moved.jpg"}}

            {{> event/header}}
            {{> event/photo}}

            <p>
                Efter lumpen tog Johan sitt pick och pack och flyttade till Norrköping för att börja plugga Medie- och kommunikationsteknik.
            </p>

            {{> event/time}}
          {{/event}}
        </ol>
    </li>
</ol>
