{{setPageTitle "Resa till Göteborg"}}
{{setActiveNav "logistics"}}

<div class="l-contain">

    <h1>Boende i Göteborg</h1>

    <p>
        Göteborg har gott om hotell i alla prisklasser. Här tipsar vi om några som alla ligger inom gångavstånd från festlokalen. Brudparet bor på hotellet markerat med <i data-icon="c"></i>. Beskrivningarna är tagna från hotellens egna hemsidor.
    </p>

    <h2>Pigalle <i data-icon="c"></i></h2>
    <p>
        <a href="http://www.hotelpigalle.se/" target="_blank">http://www.hotelpigalle.se/</a>
    </p>
    <p>Färgerna och formerna andas det tidiga 1900-talets syndiga Paris, fast i Göteborg. Du kan förvänta dig lyx, men framförallt värme, personlighet och passion. Våra handskissade rum har allt som krävs för att möta dina begär och uppfylla dina önskningar. De är hotellrum att förälska sig i, om så bara för en oförglömlig natt.</p>

    <h2>Avalon</h2>
    <p>
        <a href="http://www.avalonhotel.se/" target="_blank">http://www.avalonhotel.se/</a>
    </p>
    <p>Arkitekturen och adressen präglar atmosfären i hög grad. Vi är ett feng shui-certifierat hotell där inredning, ljus, doft och ljud spelar stor roll. Att god mat och dryck är en del av en bra hotellverklighet ser vi som en självklarhet.

    <h2>Clarion Hotel Post</h2>
    <p>
        <a href="https://www.nordicchoicehotels.se/clarion/clarion-hotel-post/" target="_blank">https://www.nordicchoicehotels.se/clarion/clarion-hotel-post/</a>
    </p>
    <p>Clarion Hotel Post mitt i Göteborg, är sannerligen inte som vilket hotell som helst. Det anrika posthuset vid Göteborg central har förvandlats till ett internationellt designhotell med extra allt. Njut av spa, takpool, restauranger, barer och konferens.
</div>
